<div class="container">
  <div class="row">
    <div class="p-4 col-md-4">
      <img src="http://www.upenet.com.br/midia/Upe.jpg" width="relative" height="80"
        alt="UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022"
        title="UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022"
        class="bordaImagem1 align-items-center">
      <font size="2" face="Arial">
        <b class="mb-4 d-flex flex-column"> <!-- UPE - Universidade de Pernambuco --></b>
        <p>Av. Agamenon Magalhães, s/n - Sto. Amaro - Recife/PE CEP 50100-010</p>
      </font>

    </div>
    <div class="p-4 col-md-4" Align="justify">
      <img src="http://www.upenet.com.br/concursos/23_S_Joao/23_S_J1.jpg" width="120" height="80"
        alt="UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022"
        title="UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022"
        class="bordaImagem1 justify-content-center">
      <font size="2" face="Arial">
        <b class="mb-4 d-flex flex-column">IAUPE CONCURSO</b>
        <p>Único instituto autorizado pela Universidade de Pernambuco para realização de concursos</p>
        <p>Av. Rui Barbosa, 1599 - Graças - Recife/PE </p>
        <p>CEP 52050-000 Telefones: 81-3033-7373</p>
      </font>
    </div>
    <div class="p-4 col-md-4">
      <b class="mb-4">Contatos</b>
      <p> <a href="#" class="text-dark">
          <i class="fa d-inline mr-3 text-muted fa-phone"></i>81-3033-7373</a> </p>
      <img width="200" height="100" alt="Guarda Municipal de São Lourenço da Mata"
        title="Guarda Municipal de São Lourenço da Mata" class="bordaImagem1 d-flex justify-content-center"
        src="http://www.upenet.com.br/midia/sem_armas.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <font size="2" face="Arial">
        <p class="text-center">©UPENET 2023&nbsp; - Todos os direitos reservados ao IAUPE CONCURSOS. </p>
      </font>
    </div>
  </div>
</div>
