<br><br><br><br>
<p></p>
  <ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
        <a href="http://www.upenet.com.br/ingresso_ifpe_2024.1/">
				<img [src]="images[0]" class="d-block w-100" alt="Inscrições IFPE 2024.1" />
        </a>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
        <a href="http://www.upenet.com.br/PG_Iniciais/Residencias.html#gsc.tab=0">
				<img [src]="images[1]" class="d-block w-100" alt="Residências 2024" />
        </a>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
        <a href="http://www.upenet.com.br/concursos/23_SEE/">
				<img [src]="images[2]" class="d-block w-100" alt="SEE 2023 - Inscreva-se" />
      </a>
			</div>
		</ng-template>
    <ng-template ngbSlide>
			<div class="picsum-img-wrapper">
        <a href="http://www.prolinfo.com.br">
				<img [src]="images[3]" class="d-block w-100" alt="Incrições Prolinfo" />
        </a>
			</div>
		</ng-template>
    <ng-template ngbSlide>
			<div class="picsum-img-wrapper">
        <a href="http://processodeingresso.upe.pe.gov.br">
				<img [src]="images[4]" class="d-block w-100" alt="Processo de ingresso na UPE" />
      </a>
			</div>
		</ng-template>
    <ng-template ngbSlide>
			<div class="picsum-img-wrapper">
        <a href="http://www.upenet.com.br/Paginas/Sobre.html">
				<img [src]="images[5]" class="d-block w-100" alt="Sobre nós" />
      </a>
			</div>
		</ng-template>
	</ngb-carousel>
