<nav class="navbar fixed-top navbar-expand-lg navbar-light nav-tabs" ngbNav #nav="ngbNav">
<div class="container-fluid">
  <a class="navbar-brand" href="http://www.upenet.com.br/#gsc.tab=0"><img
      src="http://www.upenet.com.br/midia/logo.gif" alt="UPENET"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item ngbNavItem">
        <a class="nav-link ngbNavLink" aria-current="page"
         href="http://www.upenet.com.br/">
         <font class="navbar-itens">Inicial</font>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://www.iaupe.com.br/site-2017/index.php/institucional/o-iaupe">
          <font class="navbar-itens">IAUPE</font>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://www.upenet.com.br/Paginas/Novidades.html">
          <font class="navbar-itens">Atualizações</font>
        </a>
      </li>

            <li ngbDropdown class="d-inline-block">
              <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
                <font class="navbar-itens">Concursos</font>
              </a>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <li><a class="dropdown-item" href="http://www.upenet.com.br/concluido/2024/">2024</a></li>
                <li><a class="dropdown-item" href="http://www.upenet.com.br/concluido/2023/">2023</a></li>
                <li><a class="dropdown-item" href="http://www.upenet.com.br/concluido/2022/">2022</a></li>
                <li><a class="dropdown-item" href="http://www.upenet.com.br/concluido/2021/">2021</a></li>
                <li><a class="dropdown-item" href="http://www.upenet.com.br/Paginas/concluido.html">outros concursos</a></li>
            </ul>
          </li>

    </ul>

    <a class="navbar-brand" href=""><img src="http://www.upenet.com.br/midia/IAUPE_Concursos_BRanco.png" alt="IAUPE"
        height="60px"></a>
  </div>
