<div class="container">
  <h1 class="titulo_Andamento"><b> Em andamento. . .</b> <br></h1>
  <table>
    <!--Em Andamento 2023-->
    <tbody class="Andamento">
       <!-- Primeira linha -->
       <tr>
        <td class="card">
            <a href="http://www.upenet.com.br/concursos/24_Resid_Med/">
                <img src="http://upenet.com.br/midia/SES_PE_2024.png"
                 alt="Residência Médica - 2024" title="Residência Médica - 2024">
                Residência Médica - 2024
                <br>
                <div class="card-text atencao"><font size="5px" color="red">Inscrições Prorrogadas</font></div>
            </a>
        </td>

        <td class="card">
          <a href="http://www.upenet.com.br/concursos/24_Resid_Mult/">
              <img src="http://upenet.com.br/midia/SES_PE_2024.png"
              alt="Residência Multiprofissional - 2024"
              title="Residência Multiprofissional - 2024">
              Residência Multiprofissional - 2024
              <br>
              <div class="card-text atencao"><font size="5px" color="green">Inscrições Prorrogadas</font></div>
          </a>
      </td>

    </tr>

    <!-- Segunda linha -->
    <tr>
      <td class="card">
        <a href="http://www.upenet.com.br/ingresso_ifpe_2024.1/">
            <img src="http://www.upenet.com.br/ingresso_ifpe_2024.1/midia/logo_ifpe.jpg"
            alt="Processo de ingresso IFPE - 2024.1" title="Processo de ingresso IFPE - 2024.1">
            <div class="card-text"><font size="4" color="green">Processo de Ingresso IFPE 2024.1</font></div>
            <div class="card-text atencao"><font size="4px" color="blue">Inscrições Prorrogadas</font></div>
            <div class="card-text atencao"><font size="4px" color="red">Pagamento exclusivo no</font></div>
            <div class="card-text atencao"><font size="4px" color="red">Banco do Brasil S.A.</font></div>
        </a>
    </td>
      <td class="card">
        <a href="http://www.upenet.com.br/concursos/23_SEE/">
            <img src="http://www.upenet.com.br/midia/SEE.png" alt="Seleção de Gestor Escolar - Secretaria de Educação e Esportes - 2023" title="Seleção de Gestor Escolar - Secretaria de Educação e Esportes - 2023">
            Seleção de Gestor Escolar - Secretaria de Educação e Esportes - 2023
            <br>
            <div class="card-text atencao"><font size="5px" color="gray">Inscrições Prorrogadas</font></div>
        </a>
    </td>

</tr>

    <!-- Terceira linha -->

    <tr>
      <td class="card">
        <a href="http://www.upenet.com.br/concursos/23_UPE_Saude/23_UPE_Saude.html">
            <img src="http://www.upenet.com.br/midia/Upe.jpg" alt="UPE - Seleção Pública Simplificada - Saúde - 2023" title="UPE - Seleção Pública Simplificada - Saúde - 2023">
            UPE - Seleção Pública Simplificada - Saúde - 2023
            <br>
            <div class="card-text atencao"><font size="" color="red">Inscrições reabertas</font></div>
            <div class="card-text"><font size="" color="">Para Biomédico</font></div>
        </a>
    </td>

      <!--SAD/SERES - 2022-->
<td class="card">
  <a href="http://www.upenet.com.br/concursos/22_SAD_SERES/22_Justica.html">
      <img src="http://www.upenet.com.br/midia/seres.JPG"
      alt="SAD/SERES - 2022"
      title="SAD/SERES - 2022">
      <div class="card-text"><font size="" color="">SAD/SERES - 2022</font></div>
      <br>
      <div class="card-text"><font size="5px" color="green">10ª Convocação</font></div>
  </a>
</td>


</tr>


<tr>
<!-- Quarta linha -->

    <td class="card">
      <a href="http://www.upenet.com.br/concursos/23_UPE-Ouricuri-Surubim/23_Ouricuri-Surubim.html">
          <img src="http://www.upenet.com.br/midia/Upe.jpg" alt="UPE - Seleção Pública Simplificada - Ouricuri e Surubim - 2023" title="UPE - Seleção Pública Simplificada - Ouricuri e Surubim - 2023">
          UPE - Seleção Pública Simplificada - Ouricuri e Surubim - 2023

          <div class="card-text"><font size="5px" color="red">2ª Convocação</font></div>
      </a>

      <td class="card">
        <a href="http://www.upenet.com.br/concursos/23_S_Joao/23_S_Joao.html">
            <img src="https://www.saojoao.pe.gov.br/imagens/logo.png" alt="São João - 2023" title="São João - 2023">
            São João - 2023
            <br>
            <div class="card-text"><font size="5px" color="green">Resultado da Avaliação</font></div>
            <div class="card-text"><font size="5px" color="green">Psicologica Pós recursos</font></div>

        </a>
    </td>

</tr>

<tr>
<!--UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022--->
<td class="card">
<a href="http://www.upenet.com.br/concursos/22_UPE-Radio/22_UPE_Radio.html">
    <img src="http://www.upenet.com.br/midia/Upe.jpg"
     alt="UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022"
     title="UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022">
     <div class="card-text"><font size="" color="">UPE - Seleção Pública Simplificada - Tecnólogo em Radioterapia - 2022</font></div>
     <div class="card-text"><font size="5px" color="red">12ª convocação</font></div>
</a>
</td>

</tr>


    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <a href="http://www.upenet.com.br/Paginas/concluido.html#gsc.tab=0" class="btn btn-primary">Outros concursos</a>
</div>

</div>
