<div class="container">
  <h1 class="titulo_Andamento"><b> Em andamento. . .</b> <br></h1>
  <table>
    <!--Em Andamento 2023-->
    <tbody class="Andamento">
      <tr *ngFor="let concurso of concursosAtivos">
        <td class="card">
          <a [href]="concurso.link">
            <img [src]="concurso.imagem"
            alt="{{ concurso.nome }}"
             title="{{ concurso.nome }}">
            {{ concurso.nome }}
            <br>
            <div class="card-text" *ngIf="concurso.atencao">{{ concurso.atencao }}</div>
          </a>
        </td>
      </tr>
      <div class="d-flex justify-content-center">
        <a href="http://www.upenet.com.br/Paginas/concluido.html#gsc.tab=0" class="btn btn-primary">Outros concursos</a>
    </div>
    </tbody>
  </table>



</div>
